body {
    margin:0 0;
    padding:0 0;
}
li {
    list-style-type: none;
}

h3 {
    margin: 0 0;
    padding: 0 0;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.first-page {
    padding-top: 25px;
}
.first-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.7px solid #bcbbbb;
    
    padding-bottom: 25px;
}
.first-page__main{
display: flex;
align-items: center;
}
.first-page__header::after{

}
.first-page__slogan span {
   color: #FFD700;
}
.first-page__logo {
    display: flex;
    
    font-family: 'Arial';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 32px;
flex-grow: 2;
align-items: center;
}
.first-page__img{
    background-image: url(./img/Frame.svg);
    margin-right: 15px;
  width: 48px;
  height: 48px;
  

}
.first-page__nav ul {
    display: flex;
    flex-grow: 0.5;
  margin-right: 40px;
}

.first-page__nav li {
    margin:0 15px;
    list-style-type: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #52525B;
}

.first-page__nav li:hover {
color: #516EFF;
cursor: pointer;
}
.first-page__button {
    flex-grow: 0.5;
   max-width: 187px;
height: 56px;
background: #516EFF;
border-radius: 8px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}
.first-page__left-column {
    display: flex;
    flex-direction: column;
}
.first-page__slogan {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 74px;



}
.first-page__description {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
color: #777777;
max-width: 412px;
margin-top: 15px;
margin-bottom: 60px;
}
.first-page__buttons {
    display: flex;
   
    align-items: center;
}
.first-page__left-button {
    width: 197px;
height: 56px;
background: #516EFF;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
margin-right: 60px;
cursor: pointer;
}
.first-page__right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
height: 56px;
cursor: pointer;
border: 1px solid #52525B;
border-radius: 8px;

}
.first-page__right-column {
}
.first-page__doctor-img {
    margin-top: 60px;
}


.contacts {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #516EFF;
    align-items: center;
    height: 260px;
}
.contacts__text {
}
.contacts__title {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 46px;

color: #FFFFFF;
}
.contacts__description {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 145% */

/* White/Primary */
color: #FFFFFF;
}
.contacts__icons {
    display: flex;
    justify-content: space-between;
    margin:0 15px;
    
    width:660px;
    
}
.contacts__icons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   width: 176px;
height: 160px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* or 133% */
text-align: center;
color: #52525B;
align-items: center;
background-color: #fff;
border-radius: 16px;


}
.contacts__icons span {
    max-width: 95px;
}
.contacts__icons div img{

    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}
.contacts__phone {
    

}
.contacts__date span{
    max-width:120px ;
    

}
.contacts__consult {
   
}


.second-page {
    display: flex;
   
}
.second-page__lef-column {
    background-color: #F8FAFC;
    border-radius: 0 0 95px 0;
    max-width: 650px;
    flex-grow: 1;
}
.second-page__tittle {
    height: 250px;
  
display: flex;
align-items: center;
border-bottom: 1px solid #516EFF;

}
.second-page__tittle h2 {
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;



}

.second-page__tittle span{
    color: #FFD700;
}
.second-page__tittle,.second-page__ico {
    margin-left: 70px;
}
.second-page__ico {
    max-width: 496px;
max-height: 328px;
margin-top:40px;
margin-bottom: 70px;
}
.second-page__right-column {
    flex-grow: 1;
    
}
.second-page__description {
    height: 250px;
    max-width: 665px;
    border-bottom: 1px solid #52525B40;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
display: flex;
align-items: center;
justify-content: start;
color: #777777;
padding-left: 70px;

}
.second-page__providing ul li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
}
.second-page__providing{
  padding-left: 30px;
margin-top: 70px;
}
.second-page__providing ul li::before {
    content: "";
    background-image: url(./img/Shield.png);
    background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  
  position: relative;
  top: 3px;
}
.second-page__providing h3 {
padding-left: 40px;
margin-top: 20px;
margin-bottom: 20px;
}
.second-page__lists{
display: flex;
justify-content: start;
}
.second-page__decp{
    max-width: 555px;
}
.second-page__left-list {
}
.second-page__right-list {
}